<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9sjkTw0DZ-4OiSiyDzAquH6QAxr9E7kc</string>
	<key>GCM_SENDER_ID</key>
	<string>615605052611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blurcorporation.divepix</string>
	<key>PROJECT_ID</key>
	<string>divepix-fa283</string>
	<key>STORAGE_BUCKET</key>
	<string>divepix-fa283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615605052611:ios:2938c7999a26a8b48cee76</string>
</dict>
</plist>